.books {
  display: flex;
  gap: 10px;
}

.book {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

img {
  width: 200px;
  height: 250px;
  object-fit: cover;
  background-color: aqua;
}

.book-description {
  color: rgb(112, 104, 104);
}

.delete {
  border: 1px solid rgb(245, 191, 191);
  border-radius: 2px;
  color: rgb(242, 100, 100);
  padding: 3px 6px;
  background-color: #fff;
  cursor: pointer;
  height: 30px;
}

.delete:hover {
  background-color: rgb(242, 100, 100);
  color: #fff;
  transition: 0.5s;
}

.update-button {
  border: transparent;
  background-color: transparent;
  margin-top: 10px;
}

.update-button-link {
  text-decoration: none;
  border: 1px solid rgb(113, 113, 226);
  border-radius: 2px;
  cursor: pointer;
  background-color: #fff;
  height: 30px;
  color: rgb(139, 139, 234);
  padding: 5px 5px;
}

.update-button-link:hover {
  color: #fff;
  background-color: rgb(139, 139, 234);
  transition: 0.5s;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input {
  width: 250px;
  padding: 10px;
  height: 100px;
  border: 1px solid grey;
  border-radius: 5px;
}

.add-button {
  border: transparent;
  background-color: transparent;
  margin-top: 25px;
}

.add-button-link {
  text-decoration: none;
  color: rgb(134, 213, 14);
  border: 1px solid rgb(177, 237, 87);
  padding: 10px 10px;
  border-radius: 2px;
  cursor: pointer;
}

.add-button-link:hover {
  color: #fff;
  background-color: rgb(134, 213, 14);
  transition: 0.5s;
}

.shop-name-header {
  color: blueviolet;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
  }

  60% {
    transform: translateY(-10px);
  }
}

.shop-name-header {
  animation: bounce 2s infinite;
}

.book-title {
  animation: rollIn 3s infinite;
}

@keyframes rollIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
    color: rgb(237, 156, 156);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
    color: red;
  }
}

.Modal-class {
  background-color: #fff;
  border-radius: 2px;
  padding: 20px;
  height: 200px;
  margin: 200px 400px;
  width: 600px;
  border: 1px solid rgb(222, 92, 92);
}

.Modal-heading {
  text-align: center;
  color: rgb(222, 92, 92);
  margin-top: 40px;
}

.delete-component-btns {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin: 40px 175px;
}

.delete-confirming-btn {
  border: 1px solid rgb(245, 191, 191);
  border-radius: 2px;
  color: rgb(242, 100, 100);
  padding: 3px 6px;
  background-color: #fff;
  cursor: pointer;
  height: 30px;
}

.delete-confirming-btn:hover {
  color: rgb(242, 100, 100);
  background-color: #fff;
  transition: 0.5s;
}

.cancel-confirmation-btn {
  border: 1px solid rgb(230, 182, 124);
  border-radius: 2px;
  color: rgb(235, 138, 20);
  padding: 3px 6px;
  background-color: #fff;
  cursor: pointer;
  height: 30px;
}

.cancel-confirmation-btn:hover {
  color: rgb(235, 138, 20);
  background-color: #fff;
  transition: 0.5s;
}

.Home-page {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
