.update-book-title {
  animation: bounce 2s infinite;
  color: rgb(234, 154, 36);
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
  }

  60% {
    transform: translateY(-10px);
  }
}

.update-formButton {
  border: none;
  padding: 10px;
  background-color: rgb(234, 154, 36);
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.update-formButton:hover{
    color: rgb(234, 154, 36);
    background-color: white;
    border: 1px solid rgb(234, 154, 36);
}

.update-inputs{
    height: 25px;
  border-radius: 2px;
  border: 1px solid grey;
}

.update-inputs:focus{
    border-color: rgb(234, 154, 36);
    color: rgb(44, 41, 41);
    outline: none;
}